-javaagent:/usr/lib/trino/jmx_prometheus_javaagent.jar=7071:/usr/lib/trino/trino_jmx_config.yaml

-server
-agentpath:/usr/lib/trino/bin/libjvmkill.so

# Use fixed heap instead of % of RAM
-Xmx4G
-Xms4G

-XX:G1HeapRegionSize=16M
-XX:+ExplicitGCInvokesConcurrent
-XX:+HeapDumpOnOutOfMemoryError
-XX:+ExitOnOutOfMemoryError
-XX:-OmitStackTraceInFastThrow
-XX:ReservedCodeCacheSize=256M
-XX:PerMethodRecompilationCutoff=10000
-XX:PerBytecodeRecompilationCutoff=10000
-Djdk.attach.allowAttachSelf=true
-Djdk.nio.maxCachedBufferSize=262144
-XX:+UnlockDiagnosticVMOptions
-XX:GCLockerRetryAllocationCount=32

-Dfilesystem.cache.path=/usr/local/trino/cache

--add-opens=java.base/sun.nio.ch=ALL-UNNAMED
--add-opens=java.base/java.nio=ALL-UNNAMED
--add-exports=java.base/sun.nio.ch=ALL-UNNAMED





